*{
    margin: 0;
    padding: 0;

}
body{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    background-color: rgb(80, 51, 83);
    /**/
}
.calc{
    grid-column: 1 / 3;
    height: 100%;
    width: 100%;
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(5, [col-start] 19% [col-end]);
    grid-template-rows: repeat(5, [col-start] auto [col-end]);
    grid-auto-columns:auto;
    grid-auto-rows:auto;
    gap: 2px 5px;
}


.calc__all__off{
    height: 100%;
    width: 100%;
    position: absolute;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(1, [col-start]  99% [col-end]);
    gap: 0px 5px;
    transition: 5s;
}
.calc__all__on{
    height: 100%;
    width: 100%;
    position: absolute;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, [col-start]  33% [col-end]);
    gap: 0px 5px;
}

.history__menu{
    grid-column: 3 / -1;
    height: 100%;
    width: 94%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.582);
    justify-content: center;
    padding: 0px 5px;
    overflow-y: scroll;
}

.history__text{
    margin-top: 10%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    color: white;
    max-width: 90%;
    word-wrap: break-word;
    line-height: 1.5;
}

.display__none{
    display: none;
}

.calc__output{ 
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, 0.582);
    color: white;
    font-size: 24px;
    font-family: monospace;
    height: fit-content;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: calc(100vh*0.01) 10px;
    scrollbar-width: thin;
    height: 45px;
}
.calc__history{ 
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, 0.582);
    color: white;
    font-size: 24px;
    font-family: monospace;
    padding: calc(100vh*0.02) 10px;
    height: fit-content;
    overflow-y: hidden;
    overflow-x: scroll;
    scrollbar-width: thin;
    height: 45px;
}
::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.267); 
  }
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }


.calc__btn{
    background-color: rgb(124, 124, 124);
    border: 0;
    padding: calc(100vh*0.05) 0px;
    font-size: 24px;
    cursor: pointer;
    font-family: monospace;
    user-select: none;   
}

.calc__btn:hover{
    background-color: rgb(105, 105, 105);
}
.calc__btn:active{
    background-color: rgb(75, 75, 75);
    box-shadow: 1px 1px 3px white;
}

.calc__btn__reset{
    background-color: crimson;
    color: white;
    grid-column: 1 / 5;
}.calc__btn__reset:hover{
    background-color: rgb(197, 8, 46);
    color: black;
}.calc__btn__reset:active{
    box-shadow: 1px 1px 3px white;
}

.calc__btn__result{
    background-color: rgb(67, 94, 124);
    color: white;
    grid-column: 1 / -1;
}.calc__btn__result:hover{
    background-color: rgb(55, 62, 100);
    color: black;
}.calc__btn__result:active{
    box-shadow: 1px 1px 3px white;
}
.calc__btn__arrow{
    background-color: crimson;
    color: white;
    grid-column: 5 / -1;
}.calc__btn__arrow:hover{
    background-color: rgb(197, 8, 46);
    color: black;
}.calc__btn__arrow:active{
    box-shadow: 1px 1px 3px white;
}

.calc__btn__operator{
    background-color: rgb(145, 111, 80);
}.calc__btn__operator:hover{
    background-color: rgb(126, 88, 39);
}.calc__btn__operator:active{
    box-shadow: 1px 1px 3px white;
}




@media screen and (max-width: 800px){
.history__text{
        font-size: 14px;
    }
}

@media screen and (max-width: 500px){
.history__text{
        font-size: 10px;
    }
}



@media screen and (max-height: 700px){
    .calc__btn{
        padding: calc(100vh*0.04) 10px;
    }
    
}

@media screen and (max-height: 540px){
    .calc__btn{
        padding: calc(100vh*0.03) 10px;
    }
    
}

@media screen and (max-height: 445px){
    .calc__btn{
        padding: calc(100vh*0.02) 10px;
    }
    
}

@media screen and (max-height: 355px){
    .calc__btn{
        padding: calc(100vh*0.01) 10px;
    }.history__text{
        font-size: 10px;
    }
    
}
@media screen and (max-height: 330px){
    .calc__btn{
        font-size: 20px;
        padding: calc(100vh*0.01) 10px;
    }.history__text{
        font-size: 8px;
    }
    
}